<div class="container">
    <h1 class="title">Productos</h1>
    <div class="products-grid">
        {{#each products}}
        <div class="card">
            <img class="card-img" src="{{this.picture}}" alt="Imagen del producto">
            <div class="card-content">
                <h2 class="card-title">{{this.name}}</h2>
                {{!-- <p class="card-category">Categoria: {{this.category}}</p> --}}
                <p class="card-stock">Stock: {{this.stock}}</p>
                <p>Precio: ${{this.price}}</p>
            </div>
        </div>
        {{/each}}
    </div>

</div>