<div class="container-product">
    <h1 class="title">{{this.name}}</h1>
    <div class="product-grid">
        <div class="card-product">
            <img class="card-product-img" src="{{this.picture}}" alt="Imagen del producto">
            <div class="card-product-content">
                <p class="card-product-category">Categoria: {{this.category}}</p>
                {{!-- <p class="card-stock">Stock: {{this.stock}}</p> --}}
                <p>Precio: ${{this.price}}</p>
            </div>
        </div>
    </div>

</div>

<button id="btndatos" onclick="mostrarDatosTransferencia()">Ver datos de transferencia
    bancaria</button>

<a class="logowsp"
    href="https://wa.me/+56945856167/?text=Hola%20buenas%20quisiera%20consultar%20por%20algo%20de%20la%20tienda"
    target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" alt=""></a>